################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/WpfExplorer/.vs/WpfExplorer
/WpfExplorer/WpfExplorer/bin/Debug/net8.0-windows
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/ref
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/refint
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/apphost.exe
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplo.E16CD2D9.Up2Date
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.AssemblyInfo.cs
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.AssemblyInfoInputs.cache
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.csproj.BuildWithSkipAnalyzers
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.csproj.CoreCompileInputs.cache
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.csproj.FileListAbsolute.txt
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.dll
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.genruntimeconfig.cache
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.pdb
/WpfExplorer/WpfExplorer/obj/Debug/net8.0-windows/WpfExplorer.sourcelink.json
